body{
    height: 100vh;
    margin: 0;
}
svg{
    font-family: 'Montserrat', sans-serif;
    font-size: 15em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: 1s font-size ;
}
svg rect {
    fill: white;
    mask: url(#mask);
}
@media screen and (max-width:1200px) {
    svg{
        font-size: 4em;
    }
}